In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv('combined_data_1.txt', delimiter='\t', header=None)
df = df[0].str.split(',', expand=True)

In [14]:
#df['is_title'] = ':' in df.iloc[:,0].str 
':' in df.iloc[0,0]

True

NameError: name 'cols' is not defined

In [ ]:
dfIndices = np.where(df.isnull().any(axis=1))[0]

dfList = []
for i in range(0,len(dfIndices)-1):
    #print(dfIndices[i], dfIndices[i+1])
    newDf = df.iloc[dfIndices[i]:dfIndices[i+1]]
    dfList.append(newDf)

print(dfList[2])

In [57]:
dfList

alldata = pd.DataFrame() 

for i in range(len(dfList)):
    
    df = dfList[i].iloc[1:, :]
    movieid = dfList[i].iloc[0, :][0][0]
    df['movie'] = movieid
    
    alldata = pd.concat([alldata, df])
    
alldata.to_csv('./allmovies.csv')

alldata.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":

         0  1           2 movie
1  1488844  3  2005-09-06     1
2   822109  5  2005-05-13     1
3   885013  4  2005-10-19     1
4    30878  4  2005-12-26     1
5   823519  3  2004-05-03     1

In [6]:
df = pd.read_csv('allmovies.csv', delimiter=None)
df = df.drop(df.columns[0],axis=1)
df.head()

         0  1           2  movie
0  1488844  3  2005-09-06      1
1   822109  5  2005-05-13      1
2   885013  4  2005-10-19      1
3    30878  4  2005-12-26      1
4   823519  3  2004-05-03      1

In [20]:
# Movie ID on rows
# User ID on columns

In [4]:
# Add movie titles into DF first row, second column
movies = pd.read_csv('movie_titles.csv',encoding='latin1',usecols=[0, 1, 2],header=None)
movies.head()

movieTitles = movies[[2]]
movieYears = movies[[1]]

for i in range(len(dfList)):
    inspectedDf = dfList[i]
    print(inspectedDf[0]) #= movieTitles[i]
#    inspectedDf.iloc[0,2] = movieYears[i]

NameError: name 'dfList' is not defined