In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import math

In [2]:
df = pd.read_csv('userSimilarity.csv')

In [3]:
recommendationDict = {}
print(recommendationDict)

{}

In [4]:
masterDf = pd.read_csv('masterDf.csv')

In [5]:
masterDf1 = masterDf.set_index('user')
print(masterDf1.shape[0])

425415

In [6]:
masterDfNorm = masterDf1.subtract(masterDf1.mean(axis=1), axis = 'rows')

In [7]:
userSimilarityMatrix = df

userSimilarityMatrix = userSimilarityMatrix.set_index('user')
# userSimilarityMatrix.head()

In [8]:
userSimilarityMatrix

,769,1333,1442,1527,2000,2213,2455,2469,2787,2905,...,2648287,2648351,2648465,2648502,2648589,2648730,2648734,2648853,2648869,2648885
user,,,,,,,,,,,,,,,,,,,,,
769,1.000000,0.335204,0.037336,-0.494102,1.624052e-01,2.214520e-02,-0.019031,-0.311071,0.331131,-0.044297,...,0.288319,-0.528059,0.194701,0.335825,0.208031,2.992205e-01,-0.005673,0.488824,0.394292,0.312831
1333,0.335204,1.000000,-0.237730,-0.324644,4.324156e-01,-1.297552e-01,0.021222,-0.042043,0.150671,-0.162594,...,0.197185,-0.130631,0.334084,0.381261,0.170863,1.689015e-01,0.003293,0.369940,0.229333,0.349495
1442,0.037336,-0.237730,1.000000,0.437741,8.041254e-02,9.958117e-02,0.290808,-0.289068,0.241479,-0.319644,...,0.288714,0.423560,-0.073502,-0.340926,-0.273551,3.938446e-02,0.043138,-0.160540,-0.165914,0.120316
1527,-0.494102,-0.324644,0.437741,1.000000,4.939743e-02,1.697111e-01,-0.025649,-0.050443,0.172506,0.295312,...,0.388375,0.051503,0.116501,-0.405684,-0.167426,-9.041902e-02,0.230598,-0.591097,-0.190300,0.122943
2000,0.162405,0.432416,0.080413,0.049397,1.000000e+00,-3.293440e-01,0.382305,-0.217882,0.332038,-0.156547,...,0.440580,0.093678,0.066710,0.097569,0.297330,3.888831e-17,0.125483,-0.076139,0.335405,0.473040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648730,0.299221,0.168901,0.039384,-0.090419,3.888831e-17,2.406775e-03,-0.177711,-0.101719,0.184134,-0.228277,...,0.101796,0.084377,0.218077,0.077469,0.297249,1.000000e+00,0.355682,-0.329577,0.128928,0.177737
2648734,-0.005673,0.003293,0.043138,0.230598,1.254834e-01,1.264213e-01,-0.046600,-0.211300,0.187437,0.307344,...,0.453571,0.295226,0.189713,0.348125,-0.045168,3.556819e-01,1.000000,-0.243432,-0.051155,0.355183
2648853,0.488824,0.369940,-0.160540,-0.591097,-7.613870e-02,7.702857e-18,0.240069,0.199371,-0.166667,0.394255,...,0.329630,-0.269771,0.242956,0.223703,-0.122656,-3.295765e-01,-0.243432,1.000000,0.449428,0.027528
2648869,0.394292,0.229333,-0.165914,-0.190300,3.354045e-01,2.599376e-02,0.078087,0.133743,0.267399,0.052331,...,0.090728,0.186760,0.475654,-0.298252,0.302600,1.289277e-01,-0.051155,0.449428,1.000000,0.442567
2648885,0.312831,0.349495,0.120316,0.122943,4.730401e-01,-9.642120e-03,-0.291962,-0.262119,0.242620,0.172774,...,0.176914,0.000000,-0.030715,0.132859,0.258165,1.777373e-01,0.355183,0.027528,0.442567,1.000000

In [44]:
userSimilarityMatrix = df

userSimilarityMatrix = userSimilarityMatrix.set_index('user')

genRandomPick = 0
examinedUserIndex = int(userSimilarityMatrix.columns[genRandomPick])
userSimilarityMatrix.drop(index=examinedUserIndex, inplace=True)
#userSimilarityMatrix.head()

# Target number of similar users
n = 115

# Get top n similar users
#userSimilarityMatrix[0]
similarUsers = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).index.tolist()
values = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).tolist()

# Print out top n similar users
#print(str(k) + " /" + str(500))

#print(f'The similarity values for user {examinedUserIndex} are', values)

# Movies that the target user has watched
picked_userid_watched = masterDfNorm[masterDfNorm.index == examinedUserIndex].dropna(axis=1, how='all')

#picked_userid_watched
similar_user_movies = masterDfNorm[masterDfNorm.index.isin(similarUsers)].dropna(axis=1, how='all')

#similar_user_movies.drop(picked_userid_watched.columns,axis=1, inplace=True, errors='ignore')

# A dictionary to store item scores
similarUsersDict = dict(zip(similarUsers, values))

item_score = {}
# Loop through items
for i in similar_user_movies.columns:

  # Get the ratings for movie i
  movie_rating = similar_user_movies[i]
  # Create a variable to store the score
  total = 0
  # Create a variable to store the number of scores
  count = 0

 # Loop through similar users
  for u in similarUsersDict.keys():
    # If the movie has rating
    if pd.isna(movie_rating[u]) == False:
      # Score is the sum of user similarity score multiply by the movie rating
      score = similarUsersDict[u] * movie_rating[u]
      # Add the score to the total score for the movie so far
      total += score
      # Add 1 to the count
      count +=1
  # Get the average score for the item
  item_score[i] = total / count
# Convert dictionary to pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])

# Sort the movies by score
ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
# Select top m movies
m = 10
ranked_item_score.head(m)
recommendationDict[examinedUserIndex] = ranked_item_score

In [43]:
n=115
maxMatch = 0
maxMatchN = 0
for k in range(2,10): # num of maxIter
    userSimilarityMatrix = df

    userSimilarityMatrix = userSimilarityMatrix.set_index('user')

    genRandomPick = 0
    examinedUserIndex = int(userSimilarityMatrix.columns[genRandomPick])
    userSimilarityMatrix.drop(index=examinedUserIndex, inplace=True)
    #userSimilarityMatrix.head()

    # Target number of similar users
    n = n+1 # 8, 16, 32

    # Get top n similar users
    #userSimilarityMatrix[0]
    similarUsers = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).index.tolist()
    values = userSimilarityMatrix[str(examinedUserIndex)].nlargest(n).tolist()

   
    #print(f'The similarity values for user {examinedUserIndex} are', values)

    # Movies that the target user has watched
    picked_userid_watched = masterDfNorm[masterDfNorm.index == examinedUserIndex].dropna(axis=1, how='all')

    #picked_userid_watched
    similar_user_movies = masterDfNorm[masterDfNorm.index.isin(similarUsers)].dropna(axis=1, how='all')

    #similar_user_movies.drop(picked_userid_watched.columns,axis=1, inplace=True, errors='ignore')

    # A dictionary to store item scores
    similarUsersDict = dict(zip(similarUsers, values))

    item_score = {}
    # Loop through items
    for i in similar_user_movies.columns:

      # Get the ratings for movie i
      movie_rating = similar_user_movies[i]
      # Create a variable to store the score
      total = 0
      # Create a variable to store the number of scores
      count = 0

     # Loop through similar users
      for u in similarUsersDict.keys():
        # If the movie has rating
        if pd.isna(movie_rating[u]) == False:
          # Score is the sum of user similarity score multiply by the movie rating
          score = similarUsersDict[u] * movie_rating[u]
          # Add the score to the total score for the movie so far
          total += score
          # Add 1 to the count
          count +=1
      # Get the average score for the item
      item_score[i] = total / count
    # Convert dictionary to pandas dataframe
    item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])

    # Sort the movies by score
    ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
    # Select top m movies
    m = 10
    ranked_item_score.head(m)
    recommendationDict[examinedUserIndex] = ranked_item_score
    
    x = picked_userid_watched
    xSorted = x[x.columns[x.iloc[0].argsort()[::-1]]]
    
    moviesEnjoyed = xSorted.iloc[:, :19]
    moviesEnjoyedCols = moviesEnjoyed.columns.tolist()
    
    moviesRecommended = ranked_item_score.T.iloc[:, :100]
    moviesRecommendedCols =  moviesRecommended.iloc[0].tolist() #= moviesRecommended
    
    count = sum(1 for item in moviesEnjoyedCols if item in moviesRecommendedCols)
    movies = list(item for item in moviesEnjoyedCols if item in moviesRecommendedCols)
    
    if (count > maxMatch):
        maxMatch = count
        maxMatchN = n
        
    print(count,movies)
print(maxMatch, maxMatchN)

16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']
15 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '199', '143', '1180', '798']
15 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '199', '143', '1180', '798']
16 115

In [45]:
x = picked_userid_watched
x

,126,143,156,175,191,197,199,241,253,290,...,1066,1068,1074,1104,1144,1174,1175,1180,1202,1220
user,,,,,,,,,,,,,,,,,,,,,
769,-0.114286,0.885714,-1.114286,1.885714,-0.114286,-1.114286,0.885714,1.885714,-0.114286,-0.114286,...,-0.114286,0.885714,0.885714,-0.114286,-1.114286,-0.114286,-0.114286,0.885714,0.885714,-0.114286

In [46]:
xSorted = x[x.columns[x.iloc[0].argsort()[::-1]]]
xSorted.head()

,457,175,241,677,978,413,818,471,357,1202,...,197,1025,424,321,322,994,360,985,362,751
user,,,,,,,,,,,,,,,,,,,,,
769,1.885714,1.885714,1.885714,1.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,...,-1.114286,-1.114286,-1.114286,-1.114286,-1.114286,-1.114286,-1.114286,-1.114286,-2.114286,-2.114286

In [47]:
#print(masterDf1[457])
masterDf1.loc[769,'798']

4.0

In [52]:
moviesEnjoyed = xSorted.iloc[:, :19]
moviesEnjoyedCols = moviesEnjoyed.columns.tolist()
moviesEnjoyed

,457,175,241,677,978,413,818,471,357,1202,331,720,311,1068,1074,199,143,1180,798
user,,,,,,,,,,,,,,,,,,,
769,1.885714,1.885714,1.885714,1.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714,0.885714

In [68]:
moviesRecommended = ranked_item_score.T.iloc[:, :100]
moviesRecommendedCols =  moviesRecommended.iloc[0].tolist() #= moviesRecommended

print(len(moviesEnjoyed.iloc[0]))
#print(len())

#moviesRecommended
#moviesRecommendedCols

19

In [69]:
count = sum(1 for item in moviesEnjoyedCols if item in moviesRecommendedCols)
movies = list(item for item in moviesEnjoyedCols if item in moviesRecommendedCols)

print(count,movies)

16 ['457', '175', '241', '677', '413', '471', '357', '1202', '331', '720', '311', '1074', '199', '143', '1180', '798']